@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsl: 0, 0%, 12%;
  --background-hsl: 240, 1%, 69%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 0, 0%, 88%;
    --background-hsl: 60, 5%, 11%;
  }
}

body {
  color: hsl(var(--foreground-hsl));
  background: hsl(var(--background-hsl));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
